<% if(session){ %>
    
        <%- include('header1',{user:session.pseudo,statut:session.statut})-%>
        
      <% }else
      { %> 
    <%- include('header1')-%>
    <% }%>
<div class="ui container">
        about me 
</div>
<%- include footer -%>