<div style="margin-top:3rem;"></div>
<div class="ui equal width grid">
        <div class="column grey inverted">
           <h3>One</h3>
           <p>heuihivvejeivozevzv</p>
        </div>
        <div class="column grey inverted">
                <h3>One</h3>
                <p>heuihivvejeivozevzv</p>
        </div>
        <div class="column grey inverted">
                <h3>One</h3>
                <p>heuihivvejeivozevzv</p>
        </div>
        <div class="equal width row">
          <div class="column black inverted">
              COPYRIGHT YIFON HU 2019
          </div>
        </div>
      </div>

</body>
</html>